<div class="nav-items">
    <div class="nav-item">
      <!-- <fa-icon [icon]="faDashboard"></fa-icon> -->
      <span>Dashboard</span>
    </div>
    <div class="nav-item">
      <!-- <fa-icon [icon]="faDashboard"></fa-icon> -->
      <span>Add Data for Top left Chart</span>
    </div>
    <div class="nav-item">
      <!-- <fa-icon [icon]="faDashboard"></fa-icon> -->
      <span>Add Data for Top right Chart1</span>
    </div>
    <div class="nav-item">
      <!-- <fa-icon [icon]="faDashboard"></fa-icon> -->
      <span>Add Data for Bottom left Chart</span>
    </div>
    <div class="nav-item">
      <!-- <fa-icon [icon]="faDashboard"></fa-icon> -->
      <span>Add Data for Bottom right Chart</span>
    </div>
  </div>
  
  
  